<div class="box log col mt-2">
    <ul class="list-group list-group-flush h-100 d-flex flex-column ">
        <li class='list-group-item d-flex align-items-start'>
            <p class="box-text">This is the action log!!!</p>
        </li>
        <li class='list-group-item d-flex align-items-start'>
            <p class="box-text">This is another action log!!!</p>
        </li>
        <li class='list-group-item d-flex align-items-start'>
            <p class="box-text">What's going on??</p>
        </li>
        <li class='list-group-item d-flex align-items-start'>
            <p class="box-text">What??</p>
        </li>
        <li class='list-group-item d-flex align-items-start'>
            <p class="box-text">What??</p>
        </li>
    </ul>
</div>