<div class="dropleft">
    <button class="btn dropdown-toggle my-2" data-toggle="dropdown">
        <span class="material-symbols-outlined">chat_bubble</span>
    </button>
    <div class="box log col mx-3 dropdown-menu">
        <ul class="list-group list-group-flush h-100 d-flex flex-column ">
            <li class='list-group-item d-flex align-items-start'>
                <p class="box-text">This is the action log!!!</p>
            </li>
            <li class='list-group-item d-flex align-items-start'>
                <p class="box-text">This is another action log!!!</p>
            </li>
            <li class='list-group-item d-flex align-items-start'>
                <p class="box-text">What's going on??</p>
            </li>
            <li class='list-group-item d-flex align-items-start'>
                <p class="box-text">What??</p>
            </li>
            <li class='list-group-item d-flex align-items-start'>
                <p class="box-text">What??</p>
            </li>
        </ul>
    </div>
</div>
