<div class="container d-flex flex-column align-items-center justify-content-center box">
    <h1 class="box-text my-2">Choose a deck</h1>
    <form class="list-group list-group-flush w-50">
        <li class='list-group-item'>
            <input type="radio" name="choose-deck">
            Deck 1  
        </li>
        <li class='list-group-item'>
            <input type="radio" name="choose-deck">
            Deck 2
        </li>
        <li class='list-group-item'>
            <input type="radio" name="choose-deck">
            Deck 2
        </li>
    </form>
    <button id="ready-btn" type='button' class='btn m-4' ><h2 class="m-0">Ready!</h2></button>
</div>