<div class="d-flex player-status p-2">
    <div class="d-flex align-items-center health-box">
        <img src="/assets/health.png" class="card-icon">
        <h2 id="player-health">10</h2>
    </div>   
</div>