<div class="d-flex player-status p-2">
    <div class="d-flex align-items-center">
        <img src="/assets/mana.png" id="test-pixel" class="card-icon">
        <h2 id="player-mana">10</h2>
    </div>
</div>