<div class='row-12'>
  <div class='d-flex flex-column align-items-start'>
    <button type='button' class='btn mt-4 ml-4 dropdown-toggle' data-toggle="dropdown"><h2
        class='m-0'
      >Menu</h2></button>
      <div class="dropdown-menu">
        <button type='button' class='btn dropdown-item'><p class='m-0'>Dashboard</p></button>
        <button type='button' class='btn dropdown-item'><p class='m-0'>Monster Barracks</p></button>
        <button type='button' class='btn dropdown-item'><p class='m-0'>Player Barracks</p></button>
        <button type='button' class='btn dropdown-item'><p class='m-0'>Log Out</p></button>
      </div>
  </div>
</div>


