<div class='row-12'>
  <div class='d-flex flex-column align-items-start'>
    <button type='button' class='btn mt-4 ml-4 dropdown-toggle' data-toggle="dropdown"><h2
        class='m-0'
      >Menu</h2></button>
      <div class="dropdown-menu">
        <a class='btn dropdown-item' href="/"><p class='m-0'>Dashboard</p></a>
        <a class='btn dropdown-item' href="/battlefield"><p class='m-0'>Battlefield</p></a>
        <a class='btn dropdown-item' href="/monsters"><p class='m-0'>Monster Barracks</p></a>
        <a class='btn dropdown-item' href="/player"><p class='m-0'>Player Barracks</p></a>
        <a class='btn dropdown-item' href="/logout"><p class='m-0'>Log Out</p></a>
      </div>
  </div>
</div>


