<div class="monster-card small-card-back m-1 d-flex align-items-center justify-content-center">
    <div class="card-back text-center d-flex flex-column justify-content-center">
        <h2 class="m-2">Monster Fighter</h2>
    </div>
</div>