<div>
    <h1>TESTING</h1>
</div>
<div>
  <audio controls loop autoplay>
    <source src= "../public/assets/2022-04-13_-_Brace_For_Impact_-_www.FesliyanStudios.com.mp32022-04-13_-_Brace_For_Impact_-_www.FesliyanStudios.com.mp3" type="audio/mpeg">
  </audio>
</div>
<div>
    <h1>TESTING</h1>
</div>
<div>
    <h1>TESTING</h1>
</div>
<div>
    <h1>TESTING</h1>
</div>

    <div>
      <h2>Firebase RealTime Chat</h2>
    </div>

    <div id="chat">
      <!-- messages will display here -->
      <ul id="messages"></ul>

      <!-- form to send message -->
      <form id="message-form">
        <input id="message-input" type="text" />
        <button id="message-btn" type="submit">Send</button>
      </form>
    </div>