<div id="homepage" class="container-fluid vh-100 vw-100">
    <div class="row justify-content-end">
        <div id="sidebar" class="col-sm-5 col-lg-3 vh-100 p-0">
            <div class="d-flex flex-column align-items-center justify-content-center">
                <h1 id="title-text">Monster Fighter</h1>
                <div class="row align-items-center my-2">
                    <p class="m-0">Username</p>
                    <div>
                        <input id="username" class="form-control" type="text" placeholder="Username">
                    </div>
                </div>
                <div class="row align-items-center my-2">
                    <p class="m-0">Password</p>
                    <div>
                        <input id="password" class="form-control" type="text" placeholder="Password">
                    </div>
                </div>
                <div class="row align-items-center my-2">
                    <p class="m-0">Lobby id</p>
                    <div>
                        <input id="lobby-id" class="form-control" type="text" placeholder="Lobby id">
                    </div>
                </div>
                <button type="button" class="btn ">
                    <p class="m-0">Log in</p>
                </button>
            </div>
        </div>
    </div>
    
</div>