<div id='homepage' class='vh-100 vw-100 container-fluid'>
  <div class='row justify-content-end'>
    <div
      id='sidebar'
      class='col-sm-6 col-md-5 col-lg-4 col-xl-3 vh-100 justify-content-center p-0'
    >
      <div
        class='d-flex flex-column align-items-center vh-100 justify-content-center'
      >
        <h1 id='title-text' class='my-3 text-center'>Monster Fighter</h1>
        {{!-- Username input --}}
        <div class='row align-items-center my-2'>
          <p class='m-0'>Username</p>
          <div>
            <input
              id='username'
              class='form-control'
              type='text'
              placeholder='Username'
              size="12"
            />
          </div>
        </div>
        {{!-- Password input --}}
        <div class='row align-items-center my-2'>
          <p class='m-0'>Password</p>
          <div>
            <input
              id='password'
              class='form-control'
              type='password'
              placeholder='Password'
              size="12"
            />
          </div>
        </div>
        {{!-- Lobby id input TODO: Implement this with multiplayer features--}}
        {{!-- <div class='row align-items-center my-2'>
          <p class='m-0'>Lobby id</p>
          <div>
            <input
              id='lobby-id'
              class='form-control'
              type='text'
              placeholder='Lobby id'
              size="6"
            />
          </div>
        </div> --}}
        {{!-- Log in and sign up buttons Not sure if we need a separate
              Sign up button?--}}
        <div class="row">
          <button id="login-btn" type='button' class='btn my-2 mx-1'>
            Log in
          </button>
          <button id="signup-btn" type='button' class='btn my-2 mx-1'>
            Sign up
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="./scripts/login.js"></script>