<div id="monsters" class="vh-100 vw-100 container-fluid">
    {{> menu}}
    <div class="d-flex col-10 mx-auto my-2 p-0">
        <button class="d-flex align-items-center btn small-btn m-0 p-2" id="add-btn" data-bs-toggle="modal" data-bs-target="#create-deck">
            <span class="material-symbols-outlined">
                add
            </span>
        </button>
        <button class="d-flex align-items-center btn small-btn m-0 ml-2 p-2" id="delete-btn" data-bs-toggle="modal" data-bs-target="#delete-deck">
            <span class="material-symbols-outlined">
                delete
            </span>
        </button>
    </div>
    <div id="allCards" class="col-10 d-flex flex-wrap box justify-content-around m-auto py-2">
        {{!-- Cards are inserted here --}}
        {{#each cards as |cardId|}}
            {{> card uniqueId=cardId}}
        {{/each}}
    </div>
</div>

<div>
    <div class="modal fade" id="delete-deck" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="delete-deck-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="delete-deck-label">Delete a deck</h3>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="modal-text">Select a deck to delete</p>
                <form class="list-group list-group-flush deck-list">
                    <li class='list-group-item d-flex align-items-center'>
                        <input type="radio" name="choose-deck" class="delete-deck-input mr-2">
                        Deck 1  
                    </li>
                    <li class='list-group-item d-flex align-items-center'>
                        <input type="radio" name="choose-deck" class="delete-deck-input mr-2">
                        Deck 2
                    </li>
                    <li class='list-group-item d-flex align-items-center'>
                        <input type="radio" name="choose-deck" class="delete-deck-input mr-2">
                        Deck 3
                    </li>
                </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><p>Close</p></button>
                <button type="button" id="delete-btn" class="btn btn-primary"><p>Delete Deck</p></button>
            </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="modal fade" id="create-deck" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="create-deck-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="create-deck-label">Create a deck</h3>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="modal-text" id="cards-selected"></p>
                <form class="list-group list-group-flush deck-list">
                    <li class='list-group-item d-flex align-items-center'>
                        <input type="checkbox" name="choose-deck" class="add-card-checkbox mr-2">
                        Card 1  
                    </li>
                    <li class='list-group-item d-flex align-items-center'>
                        <input type="checkbox" name="choose-deck" class="add-card-checkbox mr-2">
                        Card 2
                    </li>
                    <li class='list-group-item d-flex align-items-center'>
                        <input type="checkbox" name="choose-deck" class="add-card-checkbox mr-2">
                        Card 3
                    </li>
                </form>
                <div class="m-2 d-flex align-items-center justify-content-center">
                    <p class="modal-text flex-nowrap">Deck name:</p>
                    <input
                    id='deck-name'
                    class='form-control col-6'
                    type='text'
                    placeholder='name'
                    size="10"
                    />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><p>Close</p></button>
                <button type="button" id="create-btn" class="btn btn-primary"><p>Create Deck</p></button>
            </div>
            </div>
        </div>
    </div>
</div>