<div id='player' class='vh-100 vw-100 container-fluid'>
    {{!-- Menu partial --}}
    {{> menu}}
    <div class="row d-flex justify-content-around my-2">
        <div class="col-sm-6 col-lg-2 box mb-2">
            <h3 class="text-center mt-3">{{name}}</h3>
            <ul class="list-group list-group-flush">
                <li class='list-group-item d-flex align-items-center'>
                    <p class="box-text m-0">Wins: N/A</p>
                </li>
                <li class='list-group-item d-flex align-items-center'>
                    <p class="box-text m-0">Losses: N/A</p>
                </li>
                <li class='list-group-item d-flex align-items-center'>
                    <p class="box-text m-0">Decks: {{deckSize}}</p>
                </li>
            </ul>
        </div> 
        <div id="deck-container" class="col-sm-6 col-md-9 box py-2 pb-3 decks">
            {{#each decks as |deck|}}
            <h3>{{deck.deckName}}</h3>
            {{/each}}
            {{!-- <h3>Deck 1</h3>
            <div class="d-flex justify-content-around flex-wrap">
                {{!-- Temporary for debugging. Will make a for loop to 
                display cards --}}
                {{> small-card}}
                {{> small-card}}
                {{> small-card}}
                {{> small-card}}
                {{> small-card}}
            </div> --}}
        </div>     
    </div>
</div>
