:root {
    --beige: #FFECD6;
    --dark-blue: #0D2B45;
    --orange: #D08159;
    --box-color: #1a1c2cc9;
    --fancy-font: 'New Rocker', cursive;
    --font: 'Zilla Slab', serif;
    --homepage-image: url('/assets/bg-castle.png');
    --dashboard-image: url('/assets/bg-forest.png');
    --player-image: url('/assets/bg-desert.png');
    --swirl-image: url('/assets/swirl.png');
    --radius: 10px;
    --h1-size: 48px;
    --h2-size: 32px;
    --font-size: 20px;
    --small-card-size: 14px;
    --extra-small-size: 10px;
    --bg-screen: #3C588D40;
    --accent-color: #5f73b3ce;
}

p, button {
    font-family: var(--font);
    color: #0D2B45;
    font-size: var(--font-size);
    margin: 0;
}

input {
    border-radius: var(--radius) !important;
    font-family: var(--font);
    border-color: white !important;
    margin-left: 1rem;

}

h1, h2 {
    font-family: var(--fancy-font);
    color: var(--dark-blue);
    font-size: var(--h1-size);
}

h2 {
    font-size: var(--h2-size);
    margin: 0;
}

h3, #userDetails > h2 {
    font-family: var(--font);
    color: var(--beige);
    font-size: var(--h2-size);
}

li {
    background-color: transparent !important;
    border-color: var(--accent-color) !important;
    font-family: var(--font);
    color: var(--beige);
    font-size: var(--h2-size);
    text-align: left;
}

#messagesList li {
    background-color: transparent !important;
    border-color: var(--accent-color) !important;
    font-family: var(--font);
    color: var(--beige);
    font-size: var(--font-size);
    text-align: left;
    margin-left: 1rem;
    border-bottom: 1px solid var(--accent-color);
    list-style-type: none;
}

.card-icon {
    width: 40px;
    height: auto;
    margin: .2rem;
}

.card-back {
    background-image: var(--swirl-image);
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: var(--radius);
    border: 8px solid var(--beige);
    box-sizing: border-box;
    background-position: 40% 10%;
}

.card-back h2 {
    color: var(--beige);
    font-size: var(--h1-size);
    -webkit-text-stroke: 1.5px var(--dark-blue);
}

.deck-list li {
    font-size: var(--font-size);
}

.btn {
    border-radius: var(--radius) !important;
    background-color: var(--beige) !important;
}

.box {
    background-color: var(--box-color);
    border-radius: var(--radius);
    width: fit-content;
    height: min-content;
}

.field-box {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.log {
    background-color: var(--box-color);
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    height: 250px !important;
    width: 500px !important;
    overflow-y: scroll;
}

.decks {
    overflow-y: scroll;
    height: 75vh;
}

.box-text {
    font-family: var(--font);
    color: var(--beige);
}

.dropdown-menu {
    background-color: transparent !important;
    border-color: transparent !important;
}

.modal-content {
    background-color: var(--box-color) !important;
}

.modal-header, .modal-body, .modal-footer {
    border-color: var(--accent-color) !important;
}

.modal-text {
    color: var(--beige);
}

.modal-body form {
    height: 40vh;
    overflow-y: scroll;
}

.monster-card {
    border-radius: var(--radius);
    background-color: var(--beige);
    width: 250px;
    height: 447px;
}

.monster-frame {
    border: 2px solid var(--dark-blue);
    border-radius: var(--radius);
}

.monster-image {
    width: 175px;
    height: 250px;
    background-size: cover;
    border-radius: var(--radius);
}

.small-card .monster-image{
    height: 180px;
}

.extra-small-card .monster-image{
    height: 87px;
}

.dropdown-item {
    margin-top: 1rem !important;
    width: min-content;
}

.page-title {
    background-color: var(--beige) !important;
    width: min-content;
    border-radius: var(--radius);
}

.small-card {
    width: 200px;
    height: 295px;
}

.small-card .monster-image {
    width: 125px;
}

.small-card h2 {
    font-size: var(--font-size);
}

.small-card .card-icon {
    width: 20px;
}

.small-card-back {
    width: 200px;
    height: 295px;
}

.small-card-back h2 {
    font-size: var(--h2-size);
    -webkit-text-stroke: 1px var(--dark-blue);
}


.small-btn {
    border-radius: 25px !important;
}

.extra-small-card-back, .extra-small-card {
    width: 100px;
    height: 147px;
}

.extra-small-card .monster-image {
    width: 60px;
}

.extra-small-card p {
    font-family: var(--fancy-font);
    font-size: 12px;
}

.extra-small-card .card-icon {
    width: 12px;
}

.smaller-border {
    border-width: 4px;
}

.player-status {
    background-color: var(--beige);
    width: min-content;
    height: min-content;
    border-radius: var(--radius);
}

.message-box {
    width: 500px !important;
    background-color: var(--box-color) !important;
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
}

.card-blank {
    background-color: var(--box-color);
}

.monster-name {
    font-size: min(var(--font-size), var(--h2-size));
    line-height: 1;
}

.small-card .monster-name {
    font-size: var(--font-size) !important;
}

.small-card .monster-stats {
    font-size: var(--small-card-size) !important;
}

.extra-small-card .monster-stats {
    font-size: var(--extra-small-size) !important;
}

#playing-field .box {
    width: 60%;
    height: fit-content;
}

#homepage {
    background-image: var(--homepage-image);
    background-size: cover;
    background-position: 40% 10%;
    background-blend-mode: screen;
    background-color: var(--bg-screen);
}

#homepage .btn {
    background-color: var(--orange) !important;
}

#sidebar {
    background-color: var(--beige);
    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
}

#dashboard, #battlefield {
    background-image: var(--dashboard-image);
    background-size: cover;
    background-blend-mode: screen;
    background-color: var(--bg-screen);
    overflow-x: hidden;
    overflow-y: scroll;
}

#player, #monsters {
    background-image: var(--dashboard-image);
    background-size: cover;
    background-blend-mode: screen;
    background-color: var(--bg-screen);
    overflow-x: hidden;
    overflow-y: scroll;
}


